extends layout 

block content 
  style. 
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  title 
    Movies
  .row.banner 
    .col-12 
      h1= "Recent films for SEARCH INPUT: "
  .center 
    .col-12.col-lg-8 
      p 
        | <br /><br /><br />
  body 
    .movies 
    script(src='controllers/script.js')