extends layout

block content
  style. 
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  
  .center
    //- page header that fills the entire width of the screen
    h1= pageHeader.title

  .center
    h4= pageHeader.strapline

  .search
    .col-12
      form.form
        input#search.input(type='text' placeholder='search')
        br
        br
        button.btn Search
      //- Container for search bar, spans 12 columns on exra small and small devices/8 col on medium or larger

  .movies 
    ul#movies
  